<div class="dataTables_wrapper dt-bootstrap4">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<div class="dataTables_length" id="dt-responsive_length">
				<label>
					Show 
					<select (change)="onChangeFilter($event)" name="dt-responsive_length" aria-controls="dt-responsive" class="custom-select">
						<option *ngFor="let item of items; let n = index" value="{{item}}" selected="{{pagination.perPage==item?'selected':''}}">{{item}}</option>
					</select> 
					entries
				</label>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="dataTables_filter" [hidden]="hidden">
				<label class="control-label"  for="flatpickr07">Created Date: 
					<input (change)="onChangeDate($event)" id="flatpickr07" type="text" class="form-control flatpickr-input" data-toggle="flatpickr" readonly="true" data-mode="range" data-date-format="Y-m-d" [attr.data-default-dates]="date_range">
				</label>  
			</div>
			<div id="dt-responsive_filter" class="dataTables_filter">  
				<label>
					Search:
					<input (keyup.enter)="onSearch($event)" value="{{search}}" type="search" class="form-control" placeholder="Search..." aria-controls="dt-responsive">
				</label>
			</div>
		</div>
	</div>
</div>